{% extends 'base.html.twig' %}

{% block title %}ApoSongs | Connection{% endblock %}

{% block body %}
<div class="col-12 col-lg-6 mx-auto mt-3 mt-md-0">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connection</h1>
        <h2 class="h3 mb-3 font-weight-normal">Si vous n'avez pas de conmpte, <a href="{{path('app_register')}}">cliquez ici</a> </h2>
        <label for="inputUsername">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Rester connecté
                </label>
            </div>

        <button class="btn btn-lg btn-primary btn-block mb-3 mb-md-0" type="submit">
            Connection
        </button>
    </form>
</div>
{% endblock %}
